.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table {
  margin: 20px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headerExcluir {
  width: 70px;
  text-align: center;
}
.button {
  &.MuiIconButton-root{
    padding: 0;
  }
}
